#bd .cont div.sample span.lbl {
    font-size: 0.7em;
}
#hd-main {
    color: #FFF;
    border: 3px solid #DDD;
    background: url(../img/header_background.gif) repeat-x #FFA984;
}
#bd .navi h3 {
    color: #FFF;
    background: #FFA984;
    border: 3px solid #DDD;
}
#bd .cont h3 {
    color: #FFA984;
    border-left: 5px solid #FFA984;
}
